<mat-card class="card">
    <h3 style="text-decoration: underline;"><strong>Change Forgot Password</strong></h3>
    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput required="true" [(ngModel)]="form.newPassword" autocomplete="off"
            [type]="hide ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput required="true" [(ngModel)]="form.confirmNewPassword" autocomplete="off"
            [type]="conHide ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="conHide = !conHide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="conHide">
            <mat-icon>{{conHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="changeForgotPassword()">Change Password</button><br /><br />
</mat-card>