<div style="display: flex;">
    <img class="img" src="assets/aboutUs.png">
  <mat-card style="flex: 1 1 auto;" class="example-card2">
      <mat-card-content>
          <h4 class="c2" align="center"><b>About Us</b></h4><br/>
          
          <p>CT Hospital was established in 1983 by Dr. Prathap C Reddy, renowned as the architect of modern healthcare in India. As the nation’s first corporate hospital, CT Hospital is acclaimed for pioneering the private healthcare revolution in the country.

            CT Hospital has emerged as Mumbai's foremost integrated healthcare services provider and has a robust presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and several retail health models. 
            The Group also has Telemedicine facilities across several countries, Health Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a Research Foundation. 
            In addition, an online consultation portal and CT Home Health provide the care continuum.
            
            The cornerstones of our legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and forward-looking research & academics. CT Hospital was among the first few hospitals in the world to leverage technology to facilitate seamless healthcare delivery. 
            The organization embraced the rapid advancement in medical equipments across the world, and pioneered the introduction of several cutting edge innovations in India. Recently, South East Asia’s first Proton Therapy Centre commenced operations at the CT Centre in Mumbai.</p>
      </mat-card-content>
  </mat-card>
</div>