<h1>Application Development using Angular</h1>
<table border="2px">
  <th>Employee Id</th>
  <th>Employee Name</th>
  <th>Employee Job</th>
  <th>Employee Salary</th>
  <th>Employee Department</th>
  
  <tr>
      <td>{{EmployeeId}}</td>
      <td>{{EmployeeName}}</td>
      <td>{{EmployeeJob}}</td>
      <td>{{EmployeeSalary}}</td>
      <td>{{EmployeeDepo}}</td>
      
  </tr>
</table>
<h2>Vertical Headings:</h2>

<table border = "1px solid black">
<tr>
  <th>Employee Id</th>
  <td>{{EmployeeId}}</td>
</tr>
<tr>
  <th>Employee Name</th>
  <td>{{EmployeeName}}</td>
</tr>
<tr>
  <th>Employee Job</th>
  <td>{{EmployeeJob}}</td>
</tr>
<tr>
  <th>Employee Salary</th>
  <td>{{EmployeeSalary}}</td>
</tr>
<tr>
  <th>Employee Department</th>
  <td>{{EmployeeDepo}}</td>
</tr>
</table>