<mat-card class="card">
  <h3 style="text-decoration: underline;"><strong>Change Password</strong></h3>
  <mat-form-field appearance="fill">
    <mat-label>Current Password</mat-label>
    <input matInput [(ngModel)]="form.oldPassword" autocomplete="off" [type]="oldHide ? 'password' : 'text'"/>
    <button mat-icon-button matSuffix (click)="oldHide = !oldHide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="oldHide">
      <mat-icon>{{oldHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="form.newPassword" autocomplete="off" [type]="newHide ? 'password' : 'text'" />
    <button mat-icon-button matSuffix (click)="newHide = !newHide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="newHide">
      <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input matInput [(ngModel)]="confirmNewPassword" autocomplete="off" [type]="newConHide ? 'password' : 'text'" />
    <button mat-icon-button matSuffix (click)="newConHide = !newConHide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="newConHide">
      <mat-icon>{{newConHide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field><br />
  <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button><br /><br />
  <div>

  </div>
</mat-card>