<app-fancycards>
  <h2 top>This is the header from the parent component</h2>
  <h1  heading>Employee Details</h1>
  <app-employeedetails></app-employeedetails>
  <h4 bottom>This is the footer from the parent Component</h4>
</app-fancycards>


<app-fancycards>
  <h2 top>This is the header from the parent component</h2>
  <h1  heading>Product Details</h1>
<app-product></app-product>
<h4 bottom>This is the footer from the parent Component</h4>
</app-fancycards>


<app-fancycards>
  <h2 top>This is the header from the parent component</h2>
  <h1  heading>Friends Details</h1>
  <app-studentdetails></app-studentdetails>
  <h4 bottom>This is the footer from the parent Component</h4>
 </app-fancycards>