    <mat-card class="card">
        <h3 style="text-decoration: underline;"><strong>Forgot Password</strong></h3>
        <p>Please enter your email, we will send OTP to your email.</p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput email required [(ngModel)]="email" autocomplete="off">
            <mat-icon matPrefix>email</mat-icon>
            <mat-error>Please enter the valid email</mat-error>
        </mat-form-field><br />
        <button type="submit" mat-raised-button color="primary" (click)="forgotPassword()"
            >Send</button><br /><br />
        <div *ngIf="isEmailSent">
            Please check your email and enter the OTP.<br /><br />
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>OTP</mat-label>
                <mat-icon matPrefix>pin</mat-icon>
                <input type="otp" matInput placeholder="6-digit-otp" [(ngModel)]="otp">
            </mat-form-field><br />
            <button mat-raised-button color="primary" (click)="checkOtp()">Send</button><br />
        </div>
        <div>
        </div>
    </mat-card>