<h1 style="background-color:DodgerBlue;text-align: center;">  Employee Details</h1>
<hr />
<div style="background-color: rgb(45, 190, 118); padding: 2%; text-align: center;">
    <a href="javascript:void(0)" style="margin-left: 50px;" (click)="option_click('a')">Empno</a>
    <a href="javascript:void(0)" style=" margin-left: 50px;" (click)="option_click('b')">Ename</a>
    <a href="javascript:void(0)" style=" margin-left: 50px;" (click)="option_click('c')">Salary</a>
    <a href="javascript:void(0)" style="margin-right: 50px; margin-left: 50px;" (click)="option_click('d')">Job</a>
    <a href="javascript:void(0)" style=" margin-right: 50px;" (click)="option_click('e')">Deptno</a>
</div>