
  
  <!--<div>
    <div align="center">
      <a [routerLink]=" ['/PatientUser'] ">Patient User Management</a>  |
      <a [routerLink]=" ['/HospitalUser'] ">Hospital User Management</a> 
    
    </div>
   
  </div>-->
  
  <!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>
  
  <div class="topRight">
    <mat-menu #menu="matMenu" class="example-container">
    <button [routerLink]=" ['/HospitalUser']" mat-menu-item>Show All Hospital Users</button>
    <button [routerLink]=" ['/PatientUser']" mat-menu-item>Show All Patient Users</button>
    <button [routerLink]=" ['/CreateUser']" mat-menu-item>Create User</button>
  </mat-menu></div>-->
  
   
  <mat-sidenav-container color="primary">
    
    <mat-sidenav #sidenav="matSidenav" mode="over" opened>
  
      <h4 class="name">John Smith</h4>
      <p class="designation">Admin, CT Hospital</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/adminProfile">
        <mat-icon>account_circle</mat-icon>
        <span> Profile</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button"  routerLink="/getPatient">
        <mat-icon>personal_injury</mat-icon>
        <span> Patients</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/getPhysician">
        <mat-icon>local_hospital</mat-icon>
        <span> Physicians</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/getNurse">
        <mat-icon>medication</mat-icon>
        <span> Nurses</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/createUser">
        <mat-icon>person_add</mat-icon>
        <span> Create Hospital User</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/searchUser">
        <mat-icon>search</mat-icon>
        <span> Search User</span>
      </button>
      <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
          <router-outlet></router-outlet>
      
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
    