<mat-sidenav-container color="primary">
    
    <mat-sidenav #sidenav="matSidenav" mode="over" opened>
  
  
      <button mat-button class="menu-button" routerLink="/addDetails">
        <mat-icon>account_circle</mat-icon>
        <span>Add Details</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button"  routerLink="/bookappoinment">
        <mat-icon>personal_injury</mat-icon>
        <span> Book Appointment</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button"  routerLink="/viewappoinment">
        <mat-icon>local_hospital</mat-icon>
        <span> Cancelled Appointments</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/visitDetails">
        <mat-icon>local_hospital</mat-icon>
        <span> Visit Details</span>
      </button>
      <mat-divider></mat-divider>
      
   
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content1">
          <router-outlet></router-outlet>
          <table mat-table class="lessons-table mat-elevation-z8"  class="mat-elevation-z8" style="margin:20px;width:1000px;">

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            </ng-container>
        
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>Physician</mat-header-cell>
             </ng-container>
        
            
            <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef>Specialization</mat-header-cell>
        </ng-container>
  

        
            <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef>Appointment Date  </mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="Time">
                <mat-header-cell *matHeaderCellDef>Time  </mat-header-cell>
            </ng-container>
        
            <<ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
            </ng-container>
        
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
         </table>
      
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>