.card {
  margin: 3% auto;
  width: 700px;
  height: auto;
  text-align: center;
}

.example-row {
  margin: 0px 20px 10px 0px;
}

.example-radio {
  margin: 0px 40px 10px 0px;
}

.logo {
  background-image: url("/assets/images/home.png");
  height: 470px;
  width: 1270px;
  margin: 0 auto;
}
