<h2>Task-1</h2>

<p appShadow>Attribute Custom Directive Test</p>
<p [appShadow]="'Blue'">Attribute Custom Directive Test</p>
<p [appShadow]="'Green'">Attribute Custom Directive Test</p>

<br>
<hr>
<br>

<h2>Task-2</h2>

<div *appCustom="'Scott'">
  <p>This content is for Scott Admin</p>
</div>

<div *appCustom="'Smith'">
  <p>This content is for Smith Admin</p>
</div>

<div *appCustom="'Sam'">
  <p>This content is for Sam Admin</p>
</div>

<div *appCustom="'Robert'">
  <p>This content is for Robert Admin</p>
</div>
