<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.d3.Address" name="add1">
	<property name="city" value="Mumbai" />
	<property name="state" value="Maharashtra" />
	<property name="country" value="India" />
	</bean>

	<bean class="com.d3.Employee" name="emp1">
	<property name="employee_name" value="Kevin" />
	<property name="employee_phone" value="123456"/>
	<property name="address" ref="add1" />
	</bean>
	
	<bean class="com.d3.Employee" name="emp2">
	<property name="employee_name" value="James" />
	<property name="employee_phone" value="654321"/>
	<property name="address" ref="add1" />
	</bean>

</beans>  